*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
  max-width: 100vw;
  height: 80px;
  background-color: rgb(18, 107, 127);
  display: flex;
}

.navbarlogo{
  width: 10%;
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  font-size: 35px;
  font-style: italic;
  color: white;
  font-weight: bold;
}
.logono{
  color: orangered;
}
.navlinks{
  width: 55%;
  height: 100%;


}
.navlinks ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:  white;
}
.navlinks ul li{
  list-style: none;
  font-size: 25px;

  cursor: pointer;
}
.setactive{
  color: orangered;
}
.search-bar{
  width: 35%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.inpute-field{
  width: 400px;
  height: 50px;
  display: block;
  margin: 10px auto;
  padding-left: 15px;
  font-size: 20px;
  color: black;
}
.articles-img{
  display: block;
    height: 400px;
}
.main-container{
  max-width: 100vw;
  height: auto;
  margin: 10px 10%;
}
.headingcontainer{
  max-width: 100vw;

  padding-left: 10%;
}
.heading{
  font-size: 60px;
  color: rgb(56, 50, 50);
 /* color: rgb(18, 107, 127); */
 /* color: orangered; */
  font-weight: bold;
  height: 100px;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  text-transform: capitalize;

}
/* -----------section one----------- */
.sectione{
 max-width:  80vw;
  height: 450px;

  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.sectionechild1{
  width: 45%;
  height: 100%;

}
.sectionechild2{
  width: 54%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.child1{
  width: 100%;
  height: 50%;
 
}
.child2{
  width: 100%;
  height: 47.5%;

  display: flex;
  justify-content: space-between;
}
.child2child1{
  width: 49%;
  height: 100%;


}
.child2child2{
  width: 49%;
  height: 100%;

}


/* ----------sectiontwo---------- */

.sectiontwo{
  max-width: 100vw;
  height: 200px;
 
  display: flex;
 margin-top: 10px;
}

.sectiontwoletf{
  width: 10%;
  height: 100%;
 
  display: flex;
  justify-content: end;
  align-items: center;
}
.angleicon{
  font-size: 25px;
  color: rgb(40, 39, 39);
}
.sectiontwomain{
  width: 80%;
  height: 100%;

  display: flex;
 
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.sectiontwomain::-webkit-scrollbar{
  display: none;

}
.sectiontworight{
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;


}

/* ---------section three----------- */

.subheading{
  font-size: 40px;
  padding-left: 10%;
  font-weight: bold;
padding-top: 40px;
padding-bottom: 5px;
}
.sectionthree{
  max-width:  80%;
  height:auto ;
 
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* -----------footer----------- */

.footer{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(21, 21, 21);
  font-size: 25px;
 
  color:  white;
  text-transform: capitalize;
}

/* ----------media query--------- */
@media  screen and (max-width:600px) {

  /* ---------navbar------------ */
  .navbar{
   height: 70px;
   }
   .navbarlogo{
    width: 30%;
    }
  .logo{
    font-size: 30px;
   }
 .navlinks{
    display: none;
 }
   .search-bar{
    width:70%;
    }
  .inpute-field{
    width: 90%;
    height: 40px;
  }
 .headingcontainer{
    max-width: 100vw;
    padding-left: 0%;
  }
.heading{
  font-size: 50px;
  height: 80px;
  padding-bottom: 5px;
}
/* ---section one--------- */
  .sectione{
    max-width: 100vw;
    height: 300px;
    margin: 0 0;
    
  }
  .sectionechild1{
    width: 100%;
  }
  .sectionechild2{
    display: none;
  }
/* -----section two------ */
  .sectiontwo{
    max-width:100vw;
    position: relative;
  }
  .sectiontwoletf{
    width: 0%;
     background-color: transparent;
    position: absolute;
    left: 20px;
    z-index: 99;
  }
  .angleicon{
    font-size: 25px;
    color: white;
   }
  .sectiontwomain{
    width: 100%;
   }
  .sectiontworight{
    width: 0%;
    background-color: transparent;
     position: absolute;
    right: 20px;
    z-index: 99;
   }

  /* -----------section three------- */
  .subheading{
    font-size: 35px;
    padding-left: 0%;
     padding-top: 20px;
    padding-bottom: 0px;
  }
  .sectionthree{
    max-width:100vh;
     margin: 0 0;
   
    flex-direction: column;
    justify-content: center;
 
  }
  /* ---------footer----------- */
  .footer{
   font-size: 20px;
   }
  
}